name: tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  Run-Tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2 
      - run: python tests.py
    steps:
      - uses: actions/checkout@v2
      - name: Unit tests
        run: python tests.py
      - name: Concurrency tests
        run: python test_cmus_status_scrobbler.py
